.display{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    padding: 5px;
    text-align: right;
    border: 1px solid;
    border-radius: 5px;
    user-select: none;
}